---
section: default
---

<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Greendale Mushrooms - Homepage</title>
  <meta name="description" content="Fresh grown button mushrooms from Canterbury New Zealand">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div id="container">
    <header>
    <!--
    <table cellspacing="2" cellpadding="4" width="551" border="0">
      <tbody>
        <tr>
          <td>Analogous</td>
         <td width="89" bgcolor="#05E81A">
         <td width="89" bgcolor="#07F5A4">
         <td width="89" bgcolor="#07FF64">
         <td width="89" bgcolor="#41FF07">
         <td width="89" bgcolor="#92F507">
         </tr>
        <tr>
          <td>Triad</td>
         <td width="89" bgcolor="#05E81A">
         <td width="89" bgcolor="#139B20">
         <td width="89" bgcolor="#551DEC">
         <td width="89" bgcolor="#B56316">
         <td width="89" bgcolor="#9B510B">
         </tr>
       </tbody>
     </table>
     -->
    </header>
    <div id="main" role="main">
      <!-- No idea why this loop isn't working.
           Ain't nobody got time for this. -->
      {% for item in site.posts %}
        {{ item.content }}
      {% endfor %}

    </div>
    <footer>
        {% include footer.md %}
    </footer>
  </div> <!--! end of #container -->
</body>
</html>
